/* this will remove all margin and padding that is the default for the page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this will add the font type to all my html page */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* this will apply styles to header*/
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/*this will select the h1 inside the header element*/
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* this will select the a element inside the header element*/
header a {
    text-decoration: none;
    color: #fce138;
}

/* this will apply style to the nav element inside the header element*/
header nav {
    float: right;
    margin: 7px 0;
}

/* now we apply changes to the list inside the nav element.*/
header nav ul li {
    display: inline;
}

/* this will change the style of the a elements only inside the nav element.*/
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* here we will make changes to the footer element */
footer {
    background-color: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* this will make some changes to the h2 inside the footer.*/
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* this will make some style changes affecting the div element inside the footer element*/
footer div{
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* this will apply a style change to the a element inside the footer*/
footer a {
    color: #024e76;
}

/* giving the hero section some style */
section {
    padding: 60px;
}

.hero {
  background-image: url("../images/hero-bg.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-form {
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    border: solid 3px #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

.hero-form h3 {
    margin: 0;
    font-size: 24 px;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px; 
    font-size: 16px;
}

.intro {
 text-align: center;
}

.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    display: inline-block;
}

.intro p{
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

.steps {
    text-align: center;
    background-color: #fce138;
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;
}


.steps div {
    margin-bottom: 80px;
}

.steps img {
    width: 15%;
    margin: 10px 0;
}

.steps h3 {
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
}

.steps p {
    color: #39a6b2;
    font-size: 23px;
}

.steps span {
    font-size: 38px;
}
